<% provide(:title, 'Home') %>
<h1>Sample App</h1>
<p>
  This is the home page for the
  <a href="http://twitter.com/">Twitter</a> application.
</p>
<div class="center jumbotron">
  <h1>Добро пожаловать в Twitter!</h1>

  <h2>
    Это домашняя страница для социальной сети Twitter <a href="http://method.kz/"> курса по
    Ruby on Rails</a>.
  </h2>

  <%= link_to "Регистрация", signup_path, class: "btn btn-lg btn-primary" %>

</div>